<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Survey Portal</span>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onLogout()">
        <mat-icon>input</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav opened mode="side">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['dashboard']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>home</mat-icon> Home
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['product']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>domain</mat-icon> Product
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['agent']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>person_add</mat-icon> Agent
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['tablet']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>tablet_android</mat-icon> Tablet
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['question']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>library_books</mat-icon> Question
            </a>
            <!-- <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['mq-question']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>library_books</mat-icon> MQ Question
            </a> -->
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['answer']" [routerLinkActive]="['active']">
                <mat-icon matListIcon>question_answer</mat-icon> Answer
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[getURL(_router.url.split('/')[2])]" [routerLinkActive]="['active']">
                <mat-icon matListIcon>queue</mat-icon> Survey
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>