<div class="container">
    <h3 mat-dialog-title>Add MQ Question</h3>

    <form class="mat-dialog-content" [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="survey-options">

            <div formArrayName="mqQuestions" class="poll-options">

                <ol class="list-style">
                    <li *ngFor="let questionCtrl of surveyForm.get('mqQuestions')['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div>
                                <mat-form-field class="full-width">
                                    <textarea formControlName="questionTitle" matInput cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                        placeholder="Question title" [required]="true"></textarea>
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <mat-select formControlName="answerType" placeholder="Answer type"
                                        ng-model="myVar" [(value)]="selectedOption[i]"
                                        (selectionChange)="onSeletQuestionType(selectedOption[i], i)" [required]="true">
                                        <mat-option *ngFor="let answer of answerDataSource" [value]="answer._id">
                                            {{answer.answerTitle}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)"
                                class="poll-remove-btn">
                                X
                            </button>
                        </div>
                    </li>
                </ol>
                <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
                    <button type="button" color="primary" mat-raised-button (click)="onAddQuestion()">
                        Add MQ Question
                    </button>
                    <button type="button" color="primary" mat-raised-button (click)="openAddDialog()">
                        Add Answer
                    </button>
                </div>
            </div>

        </div>


    </form>

    <div mat-dialog-actions>
        <button mat-raised-button color="accent" type="submit" (click)="confirmAdd()"
            [disabled]="!surveyForm.valid">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>